<form #thisForm="ngForm" (ngSubmit)="onSubmit({
    brand:formPrdBrand.value,
    name:formPrdName.value,
    description:formPrdDescription.value,
    price:formPrdPrice.value,
    img:formPrdImg.value,
    mNumber:formPrdModelNumber.value,
    discount:formPrdDiscount.value,
    colors:colorsList,
    storage:storageList,
     highlights:highlightsList
})">
    <div class="row container-fluid">
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">Product ID</label><span style="color:red;">*</span>
                <input type="text" class="form-control" #formPrdID [value]="id" name="formPrdID" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Price</label><span style="color:red;">*</span>
                <input type="number" class="form-control" #formPrdPrice [value]="itemByID.price" name="formPrdPrice"
                    required>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Model-Number</label><span style="color:red;">*</span>
                <input type="text" class="form-control" #formPrdModelNumber [value]="itemByID.mNumber"
                    name="formPrdModelNumber" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Colors</label>
                <span class="float-end" style="font-size: 0.8rem;">
                    <b> Current Storage </b>[
                    <span *ngFor="let color of colorsList">
                        <span> {{color}},</span>
                    </span>
                    <span> ]</span>
                </span>
                <div class="d-flex justify-content-between">
                    <input style="width: 50%;" type="text" class="form-control" name="color"
                        [(ngModel)]="resetColorValue">
                    <div style="width:50%" class="d-flex justify-content-end">
                        <button style="width: 40%;" type="button" class="btn btn-dark mx-2"
                            (click)="pushColors(resetColorValue)">Add Color</button>
                        <button style="width: 40%;" type="button" class="btn btn-warning"
                            (click)="removeColors(resetColorValue)">Remove Color</button>
                    </div>
                </div>

            </div>
        </div>
        <div class='col-6'>
            <div class="mb-3">
                <label class="form-label">Product Brand</label><span style="color:red;">*</span>
                <input type="text" class="form-control" #formPrdBrand [value]="itemByID.brand" name="formPrdBrand"
                    required>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Name</label><span style="color:red;">*</span>
                <input type="text" class="form-control" #formPrdName [value]="itemByID.name" name="formPrdName"
                    required>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Discount</label><span style="color:red;">*</span>
                <input type="number" class="form-control" [value]="itemByID.discount" #formPrdDiscount
                    name="formPrdDiscount" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Storage</label>
                <span class="float-end" style="font-size: 0.8rem;">
                    <b> Current Storage </b>[
                    <span *ngFor="let storage of storageList">
                        <span> {{storage}},</span>
                    </span>
                    <span> ]</span>
                </span>
                <div class="d-flex justify-content-between">
                    <input style="width: 50%;" type="text" class="form-control" name="storage"
                        [(ngModel)]="resetStorageValue">
                    <div style="width:50%" class="d-flex justify-content-end">
                        <button style="width: 40%;" type="button" class="btn btn-dark mx-2"
                            (click)="pushStorage(resetStorageValue)">Add Storage </button>
                        <button style="width: 40%;" type="button" class="btn btn-warning"
                            (click)="removeStorage(resetStorageValue)">Remove Storage </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Product ImageURL</label><span style="color:red;">*</span>
            <input type="text" class="form-control" #formPrdImg [value]="itemByID.img" name="formPrdImg" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Product Description</label><span style="color:red;">*</span>
            <input style="height:10rem;" type="text" [value]="itemByID.description" class="form-control"
                #formPrdDescription name="formPrdBrand" required>

        </div>
        <div class="mb-3">
            <label class="form-label">Product Highlights</label>
            <div class="container-fluid my-3" style="font-size: 0.8rem;">
                <b> Current Highlights: </b>
                <ul class="mt-3" *ngFor="let highlight of highlightsList">
                    <li> {{highlight}}</li>
                </ul>
            </div>
            <div class="d-flex justify-content-between">
                <input style="width: 80%;" type="text" class="form-control" name="highlight"
                    [(ngModel)]="resetHighlightValue">
                <div style="width:50%" class="d-flex justify-content-end">
                    <button style="width: 40%;" type="button" class="btn btn-dark mx-2" type="button"
                        (click)="pushHighlights(resetHighlightValue)">Add Hightlight </button>
                    <button style="width: 40%;" type="button" class="btn btn-warning" type="button"
                        (click)="removeHighlights(resetHighlightValue)">Remove Hightlight </button>
                </div>
            </div>
        </div>
        <button type="submit" style="width: 20%;margin-left: 0.7%;" class="btn btn-primary my-5"
            [disabled]="thisForm.invalid">Update Product</button>
    </div>

</form>