.container-fluid {

    background-color: #EBEBEA;

}

.user {

    position: relative;

}



.profile img {

    height: 100px;

    width: 100px;

}



.profile {

    position: absolute;

    top: 7rem;

    height: 111px;

    width: 111px;

    border: 6px solid #fff;

    border-radius: 50%;

}

.posts {

    background-color: white;

}